a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: yellow;
    text-decoration: underline;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}